body{
  background-color: black;
  font-family: Arial;
}
.gray-button{
  background-color: rgb(51, 51, 51);
  color: white;

}
.calculator-button {
  border: none;
  border-radius: 60px;
  height: 60px;
  width: 60px;
  font-size: 26px;
}
.orange-button {
  background-color: rgb(254, 160, 10);
  color: white;
}
.calculation {
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.clear-button {
  font-size: 17px;
}